@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .text-bigger-hello {
    @apply text-3xl font-semibold;
  }
}

@layer components {
  /* layout */
  .screen {
    @apply flex flex-col pt-28 items-center  min-h-screen pb-16  *:items-center max-w-screen-2xl;
  }
  .formInput {
    @apply mb-4 rounded-md  w-full h-10 focus:outline-none ring-2 focus:ring-2 transition ring-neutral-200 focus:ring-muted border-none placeholder:text-neutral-400;
  }
  .formBox {
    @apply w-[34.5rem] px-10 pt-24 pb-28 bg-primary flex flex-col gap-10 rounded-2xl *:w-full;
  }

  /**/
  .primary-btn {
    @apply w-full bg-secondary text-white   ring-muted ring-4 p-3 font-bold text-lg  rounded-md text-center hover:bg-muted transition-colors;
  }

  .main-category-btn {
    @apply font-semibold text-3xl text-center hover:opacity-70 transition-opacity;
  }

  .btn-text {
  }

  .nav-text {
    @apply py-4 text-center text-2xl text-black;
  }

  .header-line {
    @apply w-full text-2xl font-bold bg-primary py-6 px-8;
  }

  /**/
  .plant-status-1 {
    background-color: gray; /* 죽음 */
  }
  .plant-status-2 {
    background-color: brown; /* 시듬 */
  }
  .plant-status-3 {
    background-color: yellow; /* 시름시름 */
  }
  .plant-status-4 {
    background-color: lightgreen; /* 보통 */
  }
  .plant-status-5 {
    background-color: green; /* 좋음 */
  }
}

.plant.plant-one .stem {
  width: 113px;
  height: 127px;
  border: solid 2px #2e5e38;
  transform: rotate(73deg);
  position: absolute;
  left: -58px;
  top: 13px;
}

.plant.plant-two .stem {
  width: 88px;
  height: 123px;
  border: solid 2px #2e5e38;
  transform: rotate(291deg);
  position: absolute;
  left: 107px;
  top: 28px;
}

@keyframes grow {
  0% {
    transform: scaleY(1.2) translateX(-50%);
  }
  100% {
    transform: scaleY(1) translateX(-50%);
  }
}

.plant {
  transform-origin: bottom;
  animation: grow 2s ease-in-out forwards;
}

img.swaying {
  transform-origin: center bottom;
  animation: swaying 3s infinite ease-in-out;
  transform: translateX(-50%);
}
@keyframes swaying {
  0% {
    transform: rotate(-5deg) translateX(-50%);
  }
  50% {
    transform: rotate(5deg) translateX(-50%);
  }
  100% {
    transform: rotate(-5deg) translateX(-50%);
  }
}
